<!DOCTYPE html>
<html lang="NL">
<head>
    <!-- General information -->
    <title>Roomhub</title>

    <!-- CSS and styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/general.css" type="text/css">

    <!-- Javascript -->
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Meta information -->
    <meta name="description" content="A website for displaying and sharing rooms in Groningen, Netherlands.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <img src="images/RoomhubLogo.PNG" alt="The Roomhub Logo">
    </header>

<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    &copy; Copyright RoomHub
</div>
</body>
</html>