{% extends "generic.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
    <h1>Welcome to RoomHub!</h1>
    <h3> A place for both tenants and owners.</h3>
    <button type="button" class="btn btn-primary tenant">Tenant</button>
    <button type="button" class="btn btn-primary owner">Owner</button>
    <h3>Not your first time visiting? Log in directly using the button below!</h3>
    <button type="button" class="btn btn-primary login">Log In</button>
{% endblock %}

