{% extends "generic.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
    <h1>Welcome to RoomHub!</h1>
    <h3 class="intro"> A place for both tenants and owners to meet.</h3>
    <button class="btn btn-xlarge btn-dark tenant" type="button">Tenant</button>
    <button class="btn btn-xlarge btn-dark owner" type="button">Owner</button>
    <h3 class="outro">Not your first time visiting? Log in directly using the button in the header!</h3>
{% endblock %}

