{% extends "generic.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/index.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <h1>Welcome to RoomHub!</h1>
    <h3 class="intro"> A place for both tenants and owners to meet.</h3>
    <h3 class="iam">I am a...</h3>
    <a href="{{ base() }}account/signup">
        <button class="btn btn-xlarge btn-dark tenant" type="button" >Tenant</button>
    </a>
    <a href="{{ base() }}account/signup">
        <button class="btn btn-xlarge btn-dark owner" type="button" >Owner</button>
    </a>
    <h3 class="outro">Not your first time visiting? Log in directly using the button in the above!</h3>
{% endblock %}

