{% extends "generic.twig" %}

{% block title %}Log in{% endblock %}
{% block content %}
<form action="" method="POST">
    <!-- front end pls fix -->
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <button>Go</button>
</form>
{% endblock %}