{% extends "generic.twig" %}

{% block title %}Your reactions{% endblock %}
{% block content %}

<!-- hier een tabel toevoegen met of jouw reactiesop alle kamers -->
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
        <tr>
            <th class="tg-0lax" colspan="2">View all your opt-ins below!<br></th>
        </tr>
        <tr>
            <th class="tg-0lax">Room:</th>
            <th class="tg-0lax">Your message:</th>
        </tr>
        <tr>
            <td class="tg-0lax">1</td>
            <td class="tg-0lax">2</td>
        </tr>
        <tr>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
        </tr>
        <tr>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
        </tr>
        <tr>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
        </tr>
    </table>

{% endblock %}