{% extends "generic.twig" %}

{% block title %}Opt in formpjee huehh{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/optinform.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <div id="new_optin_form">
        {% if room.room.picture %}
            <img id='room_picture' src="{{ uploads('room/' ~ room.room.picture) }}"
                 alt="The picture of the room">
        {% else %}
            <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                 alt="A placeholder (because no picture was uploaded)">
        {% endif %}
        <h3>Hello  {{ user.first_name }}! Do you want to send a message to react on the following room: </h3>
        <form action="" method="POST">
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea name="message" class="form-control" id="inputMessage"
                          placeholder="Enter your message here!"></textarea>
            </div>

            <button type="submit" class="btn btn-dark">
                Send your message!
            </button>
        </form>
    </div>
{% endblock %}