{% extends "generic.twig" %}

{% block title %}Opt in formpjee huehh{% endblock %}
{% block content %}

    <div id="new_optin_form">
        <h1>
            {{ title }}
        </h1>
        <h3>Hello  {{ user.first_name }} ! send a message to react on room: </h3>
        {% if room.room.picture %}
            <img id='room_picture' src="{{ uploads('room/' ~ room.room.picture) }}"
                 alt="The picture of the room">
        {% else %}
            <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                 alt="A placeholder (because no picture was uploaded)">
        {% endif %}

        <form action="" method="POST">
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea name="message" class="form-control" id="inputMessage"
                          placeholder="Enter your message here!"></textarea>
            </div>

            <button type="submit" class="btn btn-dark">
                Send your message!
            </button>
        </form>
    </div>

{% endblock %}