{% extends "generic.twig" %}

{% block title %}Add Room{% endblock %}
{% block content %}
    <form action="" method="POST">
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea name="description" class="form-control" id="inputDescription"
                      placeholder="Tell sth about the room"> </textarea>
        </div>
        <div class="form-group">
            <label for="inputPrice">Price per month</label>
            <input type="text" class="form-control" name="price" id="inputPrice" placeholder="Enter your price per month" required>
        </div>
        <div class="form-group">
            <label for="inputSize">How many m^2 is your room</label>
            <input type="text" class="form-control" id="inputSize" placeholder="18" name="size" required>
        </div>
        <div class="form-group">
            <label for="inputType">Type of room</label>
            <input type="text" class="form-control" id="inputType" placeholder="Appartment/Studio" name="type" required>
        </div>

        <div class="form-group">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Assen/Sellinge" name="city"
                   required>
        </div>

        <div class="form-group">
            <label for="inputZipcode">ZipCode</label>
            <input type="text" class="form-control" id="inputZipcode" placeholder="0000AA" name="zipcode"
                   required>
        </div>
        <div class="form-group">
            <label for="inputStreetname">Streetname</label>
            <input type="text" class="form-control" id="inputStreetname" placeholder="Muilslaan 5" name="streetname"
                   required>
        </div>
        <div class="form-group">
            <label for="inputNumber">Street number</label>
            <input type="text" class="form-control" id="inputNumber" placeholder="6" name="number"
                   required>
        </div>

        <button type="submit" class="btn btn-primary">Publish your room now!</button>
    </form>
{% endblock %}
