#account_homepage {
    min-height: 50vh;
    width: 800px;
    margin: 0 auto 0 auto;
    background: white;
    display: flex;
    justify-content: space-between;
}

#sidebar{
    display: flex;
    justify-self: flex-end;
}

#account_information{
    margin: 25px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile_picture{
    width: 200px;
    max-height: 200px;
    object-fit: cover;
}

#account_info{
    width: 100%;
}

.list-group{
    border: none;
}

.list-group-item{
    background: black;
    color: #ffa31a;
    border: none;
}

@media(max-width: 800px){
    #account_homepage{
        flex-direction: column-reverse;
        width: 100vw;
    }
}
