header {
	background-color: black;
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#header_logo {
	display: block;
	max-height: 80px;
}

#reg_log_buttons {
	display: flex;
	height: 100%;
	width: 200px;
	align-items: center;
	justify-content: space-between;
	margin-right: 25px;
}

#account_button {
	font-size: 1.1em;
	min-width: 170px;
	border: none;
	cursor: pointer;
}

#account_menu {
	align-self: flex-start;
	display: inline-block;
	margin: auto 25px auto 0;
}

/* Dropdown Content (Hidden by Default) */
#account_options {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
#account_options a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
#account_options a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
#account_menu:hover #account_options {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#account_menu:hover .dropbtn {
	background-color: #3e8e41;
}