#index_div{
    text-align: center;
    padding-top: 50px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
.intro {
    padding-bottom: 50px;
}

.iam {
    padding-bottom: 20px;
}

#index_div .btn-xlarge {
    padding: 10px 28px;
    font-size: 35px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 20px;
}


.outro {
    padding-top: 40px;
}

.owner {
    margin: 0px 50px 0px 50px;
}

#room_view_link{
    display: block;
    margin: 10px auto 0px auto;
}

.rooms {
    padding-top: 80px;
    font-weight: bold;
}