#content{
    display: flex;
    justify-content: center;
}
#optins{
    width: 70vw;
    padding: 15px;
}

#optins > h1, h4{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.image_div{
    position: relative;
    width: 100%;
    height: 100%;
}

.hover_img{
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.opt_in_card{
    width: 100%;
    height: 250px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    margin-bottom: 10px;
}

.opt_in_info{
    margin-left: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.opt_in_card > a{
    width: 40%;
    height: 100%;
}
#room_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media(max-width: 1000px){
    #optins{
        width: 100vw;
    }
}

@media(max-width: 800px){
    .opt_in_card{
        flex-direction: column;
        height: auto;
    }
    .opt_in_card > a{
        width: 100%;
        height: 30vh;
    }

}


