#content{
    display: flex;
    justify-content: center;
}
#optins{
    width: 70vw;
    background: #f7f7f7;
    padding: 15px;
    overflow-x: scroll;
}

#room_pic_div{
    position: relative;
    height: 200px;
    width: 300px;
}

#room_pic_div:hover{
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.56);
}

#room_picture{
    max-height: 50%;
    max-width: 50%;
}

#roombutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#roombutton .square_button{
    margin: 0;
    width: unset;
}

@media(max-width: 1000px){
    #optins{
        width: 100vw;
    }
}

@media(max-width: 500px){
    #room_picture{
        max-height: 90%;
        max-width: 90%;
    }
}


