#room_page{
    display: flex;
    justify-content: center;
}

#room_content{
    --room_width: 50%;
    width: var(--room_width);
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#room_picture{
    width: 100%;
}

#owner_info_row{
    height: 100px;
    width: 95%;
    background: #e1e4e4;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

#owner_info_row img{
    height: 100%;
    width: 100px;
    object-fit: cover;
    clip-path: circle(45% at 50% 50%);
}

#owner_info_row a{
    text-decoration: none;
    color: #062c33;
}

#owner_info_row a:hover{
    color: var(--roomhub-orange);
}

#owner_info_row *{
    margin: 0;
}

#optin_button{
    margin: 10px;
}

#optin_button button{
    padding: 24px 50px 24px 50px;
}

#owner_room_info{
    position: fixed;
    border-radius: 10px;
    top: 90px;
    left: 1vw;
    right: 75vw;
    background: #000000;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#owner_room_info > a{
    width: 90%;
}

#owner_room_info > a > button{
    padding: 10px;
    margin: 5px 0 5px 0px;
    width: 100%;
}

@media(max-width: 1200px){
    #room_page{
        flex-direction: column-reverse;

    }

    #room_content{
        width: 100%;
    }

    #owner_room_info{
        position: unset;
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    #owner_room_info > a > button{
        width: 100%;
    }

    #optin_button {
        width: 90%;
    }

    #optin_button button{
        width: 100%;
    }


}

.table {
    max-width: 70%;
}

#introtext {
    text-align: center;
    margin-top: 10px;
}

.des {
    max-width: 60%;
}