#room_page{
    display: flex;
    justify-content: center;
}

#room_content{
    width: 50%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#room_picture{
    width: 100%;
}

#owner_info_row{
    height: 100px;
    width: 95%;
    background: #e1e4e4;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
#owner_info_row img{
    height: 100%;
}

#owner_info_row *{
    margin: 0;
}


#owner_room_info{
    position: absolute;
    right: 1%;
    left: 76%;
    background: #000000;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1200px){
    #room_page{
        flex-direction: column-reverse;
    }

    #room_content{
        width: 100vw;
    }

    #owner_room_info{
        position: unset;
        width: 100vw;
        height: auto;
    }
}