#content > h1{
    text-align: center;
    padding: 25px;
}

#rooms_overview {
    max-width: 95%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 10px;
    flex: 0 1 23%;
}

.card-img-top{
    height: 20vw;
    object-fit: cover;
}

.square_button {
    border: 3px solid black;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 80%;
}

.square_button:hover {
    font-weight: bold;
    color: black;
    background-color: #cf8216;
}

@media(max-width: 1600px){
    .card{
        flex: 0 1 calc(33% - 1.5em);
    }
}
@media(max-width: 1200px){
    .card{
        flex: 0 1 45%;
    }
}
@media(max-width: 700px){
    .card-img-top{
        height: 50%;
    }
    .card{
        flex: 0 1 100%;
    }
}